* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  margin-bottom: 10rem;
}
html {
  font-size: 62.5%;
}
img {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  margin-bottom: 6.4rem;
}
.nebula-logo {
  width: 9rem;
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 10%;
  margin-right: 10rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a:visited,
.nav-links a {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: black;
}
.ct-btn:visited,
.ct-btn {
  background-color: rgb(255, 0, 0);
  color: #fafafa !important;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin-left: 6rem;
}
/* hero section styling */
.hero-section {
  max-width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.hero-section-context {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-section-h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  opacity: 85%;
  font-weight: 500;
}
.hero-section-h3 {
  text-transform: uppercase;
  font-size: 3.8rem;
  letter-spacing: -0.2rem;
  font-weight: 700;
}
.hero-section-p-one {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
}
.shop-now-hero-btn {
  align-self: flex-start;
  display: inline-block;
  padding: 1.5rem 1.9rem;
  border: none;
  margin-top: 0.8rem;
  font-size: 1.6rem;
  background: linear-gradient(to right, rgb(218, 1, 1), rgb(255, 34, 34));
  cursor: pointer;
  color: #fafafa;
}
.shop-now-hero-btn:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem rgba(12, 74, 110, 0.288);
}
.shop-now-hero-btn:active {
  border: none;
  transition: 0.15s ease-in-out;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.35rem 0.6rem rgba(12, 74, 110, 0.288);
}
header {
  margin-bottom: 20.5rem;
}
/*  */
/*  */
/*  */
/* PRICING SECTION STYLING */
.pricing-section {
  margin: 0 auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 14%;
  margin-bottom: 20.5rem;
}
.pricing-section-img {
  border-radius: 50%;
}
.pricing-section-context {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.pricing-section-h3 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  opacity: 60%;
}
.pricing-section-h4 {
  font-size: 4.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  opacity: 80%;
}
.stars-cols {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
.last-child {
  color: #d8d8d8;
}
.pricing-section-p-one {
  font-size: 3.2rem;
  font-weight: 500;
  opacity: 75%;
  margin-bottom: 1.8rem;
}
.pricing-section-two {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  line-height: 1.4;
  text-transform: capitalize;
  opacity: 70%;
  margin-bottom: 1.9rem;
  font-weight: 520;
}
.pricing-section-three {
  font-size: 1.7rem;
  text-transform: capitalize;
  opacity: 70%;
  font-weight: 480;
  line-height: 1.4;
  letter-spacing: 0.05rem;
}
/* pricing section size, qty, and purchase styling */
.btn-cols {
  display: flex;
  gap: 4rem;
  margin-left: 15rem;
  margin-top: 2rem;
}
.btn-col-1,
.btn-col-2 {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 0.8rem;
  text-transform: uppercase;
  opacity: 70%;
  cursor: pointer;
}
.btn-col-icon {
  width: 2rem;
  height: 2rem;
  stroke: #0c4a6e;
}
.btn-purchase {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  background-color: #0c4a6e;
  color: #fafafa;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-purchase:hover {
  background-color: #0e547c;
}
.btn-purchase::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #0c4a6e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.btn-purchase:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}
/*  */
/*  */
/* PRODUCT SECTION STYLING  */
/*  */
.product-section {
  max-width: 95%;
  margin: 0 auto;
}
.product-section-h2 {
  text-align: center;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.15rem;
  text-transform: uppercase;
  margin-bottom: 9.2rem;
}
